<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">


    <title>To-Do</title>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    
  </head>
  <body style="background-color: black;">

    
      <br/>
<center><h1 style="color: beige; font-size:100px; "><b>TO-DO</b></h1></center>
      <div class="container" style="position:absolute;top: 30%;bottom: 0;left: 0;right: 0;margin:auto;">
        <div class="d-flex justify-content-center">
            <div class="shadow p-3 mb-5 bg-white rounded" style="width:600px; color: rgb(0, 0, 0);">
                <center><h3><b>LOGIN</b></h3>
                <form action="/login" method="POST">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="basic-addon1" style="background-color: black;color: beige;">Username</span>
                        </div>
                        <input type="text" class="form-control" placeholder="Enter Email/Username" name="email" id="uname" aria-label="Username" style = "border-color: black;" aria-describedby="basic-addon1">
                    </div>
                        <div class="input-group mb-3">
                        
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1" style="background-color: black;color: beige;">Password</span>
                          </div>
                          <input type="password" class="form-control" placeholder="Enter Passwrod" name="password" id="pass" aria-label="Username" style = "border-color: black;" aria-describedby="basic-addon1">
                            
                    </div>

                    <button class="btn btn-primary" type="submit">Login</button>
                    
                </form>
                <br/>
                <% if (msg) { %>
                  <p style="color:red;"><%= msg %></p>
                  <% } else { %>
                      <p><%= msg %></p>
                  <% } %>
                  <br/>
                    <a href="/register">Register</a> | 
                    
                    <a href="/reset">Forgot Password</a>    
                    
                <!-- </form> -->
            </center>
            </div>
        </div>

    <script>
        
    </script>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https ://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html> 